[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=matlab -desktop -useStartupFolderPref -softwareopengl
Name=MATLAB
Icon=matlab
Categories=Development;Math;Science
Comment=Scientific computing environment
Comment[zh_CN] = 科学计算环境
StartupNotify=true
StartupWMClass=com-mathworks-util-PostVMInit
